In [5]:
from scipy.stats import shapiro

data = [0.909, 2.817, 0.121,1.456, 8, 2.00, 0.500, 1.478, 1.637, 6]

stats,p = shapiro(data)
print('stats = %.3f , p=%.4f'%(stats,p))

if p > 0.05:
    print('Probably Gaussian')
else:
    print('Probably not Gaussian')

stats = 0.801 , p=0.0150
Probably not Gaussian

In [9]:
import pandas as pd
import numpy as np


df = pd.read_csv("https://raw.githubusercontent.com/manishanker/statistics_ML_jan_2020/master/bank.csv", sep=";")
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19.0,oct,79.0,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11.0,may,220.0,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16.0,apr,185.0,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3.0,jun,199.0,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5.0,may,226.0,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30.0,jul,329.0,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9.0,may,153.0,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19.0,aug,151.0,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6.0,feb,129.0,4,211,3,other,no
4520,44,NaN,NaN,tertiary,no,1136,yes,yes,NaN,3.0,apr,NaN,2,249,7,other,no

In [8]:
df.isna().sum()

age          0
job          3
marital      3
education    3
default      0
balance      1
housing      1
loan         0
contact      3
day          1
month        0
duration     2
campaign     0
pdays        0
previous     0
poutcome     0
y            3
dtype: int64

In [30]:
actual_array =np.array(df["age"])
std=np.std(actual_array)
mean  = np.mean(actual_array)
#mean = df['age'].mean()
print('Mean = %f '%mean)
print('Standard deviation = %f '%std)
left_r = 0
right_r = 0
arr=[1,2]

for i in arr :
    left_r = mean-(i)*std
    right_r=mean+(i)*std
    df1=df[(df["age"]>=left_r) & (df["age"]<=right_r)]
    mod_array = np.array(df1["age"])
    #print(np.count_nonzero(mod_array))
    print('Percentage of values in {} std {}'.format(i,(np.count_nonzero(mod_array)/(np.count_nonzero(actual_array)))))

Mean = 41.170095
Standard deviation = 10.575041
Percentage of values in 1 std 0.6752930767529308
Percentage of values in 2 std 0.9754479097544791